%ul#gallery
  = gallery_panel "candids/20080518_2135.jpg",                    "From the Treasure Island photo shoot. Damon sets the table."
  = gallery_panel "candids/20080518_2136.jpg",                    "From the Treasure Island photo shoot. Damon ponders the look."
  = gallery_panel "candids/20080518_2143.jpg",                    "From the Treasure Island photo shoot."
  = gallery_panel "candids/20080520_2181.jpg",                    "The set of The Collection Agency taping."
  = gallery_panel "candids/20080914_2467.jpg",                    "In the rehearsal studio, DG noodles."
  = gallery_panel "candids/20080914_2471.jpg",                    "In the rehearsal studio, Damon adjusts."
  = gallery_panel "candids/20080914_2472.jpg",                    "In the rehearsal studio, Damon shreds."
  = gallery_panel "candids/20081214_2694a.jpg",                   "At Closer Studios, Damon tunes."
  = gallery_panel "candids/20081214_2703.jpg",                    "At Closer Studios, DG &amp; Damon."
  = gallery_panel "candids/20081214_2708.jpg",                    "Mixing board at Closer Studios."
  = gallery_panel "candids/20090215_2872.jpg",                    "EP recording at the cabin."
  = gallery_panel "candids/20090426_2931.jpg",                    "EP recording at the cabin. Guest singer Sadie Contini."
  = gallery_panel "candids/20090816_3702.jpg",                    "EP recording at the cabin. Guest keyboardist PF Dumanis."
  = gallery_panel "live/dscn2486.jpg",                            "October 2008, At Redwood City Underground."
  = gallery_panel "live/dscn2487.jpg",                            "October 2008, At Redwood City Underground."
  = gallery_panel "live/20090607_2952_a.jpg",                     "June 7, Numi Teahouse. With special guests for the Vegan Table book launch party."
  = gallery_panel "live/20090607_2978a.jpg",                      "June 7, Numi Teahouse. The Vegan Table book launch party."
  = gallery_panel "live/20090607_2979a.jpg",                      "June 7, Numi Teahouse. The Vegan Table book launch party."
  = gallery_panel "live/gosta_at_blakes_120509.jpg",              "Greg, DG and Damon at Blake &amp; Deb's holiday party."
  = gallery_panel "live/mrsmiths_042408_fullband_1.jpg",          "The first show with Greg, April 2008 at Mr. Smiths."
  = gallery_panel "live/mrsmiths_071708_2.jpg",                   "Mr. Smiths, July 2008."
  = gallery_panel "live/dsc_0627.jpg",                            "March 2009 at Thee Parkside."
  = gallery_panel "live/dsc_0631.jpg",                            "March 2009 at Thee Parkside."
  = gallery_panel "live/dsc_0647.jpg",                            "March 2009 at Thee Parkside."
  = gallery_panel "live/piratecat/gb_prc_021510_damon1.jpg",      "Acoustic set on Pirate Cat Radio, February 15, 2010."
  = gallery_panel "live/piratecat/gb_prc_021510_damon2.jpg",      "Acoustic set on Pirate Cat Radio, February 15, 2010."
  = gallery_panel "live/piratecat/gb_prc_021510_dg1.jpg",         "Acoustic set on Pirate Cat Radio, February 15, 2010."
  = gallery_panel "live/piratecat/gb_prc_021510_dg2.jpg",         "Acoustic set on Pirate Cat Radio, February 15, 2010."
  = gallery_panel "live/piratecat/gb_prc_021510_dg_greg1.jpg",    "Acoustic set on Pirate Cat Radio, February 15, 2010."


:javascript
  $('#gallery').galleryView({
    panel_width: 640,
    panel_height: 480,
    frame_width: 75,
    frame_height: 75
  });

  $('#gallery').css({'margin': '30px auto 0'});

