!!! Strict
%html{'xml:lang' => 'en-us', :lang => 'en-us', :xmlns => 'http://www.w3.org/1999/xhtml'}
  %head
    %title Gosta Berling
    %meta{ :content => 'text/html; charset=utf-8', 'http-equiv' => "content-type" }
    = stylesheet_link_tag 'thickbox', 'application', 'menu', 'popup', controller_name, :media => "all"

    = javascript_include_tag 'jquery'
    = javascript_include_tag 'jquery-ui'
    = javascript_include_tag 'jrails'
    = javascript_include_tag 'jquery.livequery'
    = javascript_include_tag 'jquery.flydom-3.1.1'
    = javascript_include_tag 'thickbox'
    = javascript_include_tag 'swfobject'
    = javascript_include_tag '1bit'
    = javascript_include_tag 'common'
    = javascript_include_tag controller_name

    %link{:rel => 'shortcut icon', :href => '/images/favicon.ico'}
  %body
    #page
      = yield
      #popup
    = render :partial => 'common/urchin'
